body {
    font-family: 'Helvetica Neue', sans-serif;
    background-color: #fafafa;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  main {
    text-align: center;
  }
  